body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8e8e8;
    margin: 0;
    padding: 0;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.about-content {
    max-width: 600px;
    padding: 20px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    color: #3498db;
}

p {
    font-size: 1.2em;
    color: #333;
}

.highlight {
    color: #ff6347;
}

.hobbies p {
    font-family: 'Zilla Slab', serif;
    font-size: 1.1em;
    color: #6a5acd;
    line-height: 1.6;
}

.image-container {
    flex-shrink: 0;
}

.profile-image {
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.tech-stack {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    max-width: 900px;
    margin: 30px auto;
}

.tech-stack h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    color: #7b68ee;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.icons img {
    width: 50px;
    height: 50px;
}
