body{
    margin: 0;
    padding: 0;
}

/* hero-section styles */
#hero-section {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('assets/hero.gif'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

#hero-section h1, h2{
    margin: 0;
    color: white;
}

#hero-section h1{
    font-size: 10vw;
    text-shadow: 
        -2px -2px 0 black, 
         2px -2px 0 black, 
        -2px  2px 0 black, 
         2px  2px 0 black;
}

#hero-section h2{
    font-size: 4vw;
    text-shadow: 
        -1px -1px 0 black, 
         1px -1px 0 black, 
        -1px  1px 0 black, 
         1px  1px 0 black;
}

h1, h2{
    font-family: "Inter", sans-serif;
}

/* Navbar Styles */
.navbar {
    border-top: solid 0.2vw rgb(26, 26, 26);
    border-bottom: solid 0.2vw rgb(26, 26, 26);
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 10px 0 10px;
    background-color: #FA753E;
    position: relative; /* Initially relative */
    width: 100%;
    transition: all 0.3s ease;
    justify-content: right;
}

.sticky {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-list {
    margin: 0;
    padding-right: 2vw;
    list-style-type: none;
    display: flex;
}

.nav-item {
    margin: 0 2vw 0 2vw;
}

.nav-item a {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: white;
    text-decoration: none;
    font-size: 2vw;
    transition: background-color 0.3s ease;
}

.nav-item a:hover {
    background-color: #555;
}

/* Content Styles */
#content{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: #FBE8EA;
    display: grid;
    /* temp height */
    height: 300vh; 
}

/* About Me Section Styles */
.about-me-wrapper, .bang_at_desk{
    display: block;
    grid-row: 1 / 2;
}

.about-me-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.about-me-container{
    max-height: 37vw;
    background-image: url("assets/aboutme_background.png");
    display: grid;
    background-position-x: right;
    background-repeat: repeat-y;
    align-items: stretch; 
    grid-template-columns: repeat(5,1fr);
    width: 85%;
    height: 85%;
    border-top: 1vw solid #0190EF;
    border-radius: 0 0 50px 50px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.about-me-text-container{
    grid-column: 1 / 5;
}

.text-highlight-purple{
    color: #8B4DF7;
}

.tcnj-even{
    color: #1f75b1;
}

.tcnj-odd{
    color: #FFCF40;
}

.hobbies p{
    margin: 0;
}

.hobbies p:nth-of-type(1) {
    color: #A774FF; /* Tomato */
}

.hobbies p:nth-of-type(2) {
    color: #5A97FF; /* Steel Blue */
}

.hobbies p:nth-of-type(3) {
    color: #FFCB2E; /* Lime Green */
}

.hobbies p:nth-of-type(4) {
    color: #3CBE35; /* Goldenrod */
}

#content h1{
    font-size: 7vw;
    font-weight: 500;
    margin: 0;
    padding: 2% 2% 0 2%;
}

.about-me-container h1{
    color: #1CA4FF;
}

.about-me-container p {
    font-size: 1.5vw;
    padding: 0 4vw 0 4vw;
    font-family: "Fira Code", Arial;
    font-weight: 200;
}


.bracket{
    color: #666666;
}

.tech-stack-container {
    background-color: #ffffff;
    border-top: solid 10px #9267ff;
    border-radius: 0 0 15px 15px;
    padding: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60%;
    margin: 3vw 3vw 3vw 3vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.tech-stack-container h2 {
    font-size: 2vw;
    color: #9267ff;
    margin-bottom: 20px;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tech-icons img {
    width: 2vw;
}

.bang_at_desk{
    width: 100%;
    grid-column: 2 / -1;
}

/* PROJECTS STYLES */
.projects-wrapper{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container h1{
    color: #16B80E;
}

.projects-container{
    grid-row: 2 / 6;
    grid-column: 1 / 6;
    background-image: url("assets/projects_background.png");
    background-repeat: repeat-y;
    background-position-x: right;
    background-size: contain;
    align-items: center;
    justify-self: center;
    height: 96.5%;
    width: 85%;
    margin-top: 2.5%;
    background-color: rgb(251, 250, 250);
    border-top: 1vw solid #16B80E;
    border-radius: 0 0 50px 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.projects-text-image-container{
    align-items:start;
    margin-left: 3vw;
    margin-top: 1vw;
    height: 90%;
    width: 75%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.projects-container h2{
    font-size: 2vw;
    color: black;
}

